@font-face {
  font-family: Poppins-Regular;
  src: url("../../assets/fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("../../assets/fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../../assets/fonts/poppins/Poppins-Bold.ttf");
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #ebeeef;
}

.wrap-login100 {
  width: 670px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.login100-form-title {
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 70px 15px 74px;
}

.login100-form-title::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(54, 84, 99, 0.7);
}

.login100-form-title-1 {
  font-family: Poppins-Bold;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.login100-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 43px 88px 90px 190px;
}

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #b2b2b2;
}

.validate-input {
  position: relative;
}

.label-input100 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: gray;
  line-height: 1.2;
  text-align: right;
  position: absolute;
  top: 14px;
  left: -105px;
  width: 80px;
}

.input100 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555;
  line-height: 1.2;
  display: block;
  width: 100%;
  background: 0 0;
  padding: 0 5px;
}

input.input100 {
  height: 45px;
  outline: none;
  border: none;
}

input {
  outline: none;
}

input:focus {
  border-color: transparent !important;
}

input:focus-visible {
  outline: none;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 1px;
  transition: all 0.6s;
  background: #57b846;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.flex-sb-m {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #999;
  line-height: 1.4;
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f14a";
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #e6e6e6;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #57b846;
}

.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.4;
  color: #999;
}

.txt1:hover,
.txt1:focus {
  color: #57b846 !important;
}

.container-login100-form-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transform: translateX(-51px);
}

.login100-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #57b846;
  border-radius: 25px;
  font-family: Poppins-Regular;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  transition: all 0.4s;
  outline: none !important;
  border: none;
  margin: 0 auto;
  /* background: 0 0; */
}

.login100-form-btn:hover {
  background-color: #333;
}

.w-full {
  width: 100%;
}

.p-b-30 {
  padding-bottom: 30px;
}

.m-b-26 {
  margin-bottom: 26px;
}

.m-b-18 {
  margin-bottom: 18px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.login-social a {
  font-size: 28px;
}

.login-social a:hover,
.login-social a:focus {
  color: #57b846 !important;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  transform: translateY(-50%);
  right: 2px;
  pointer-events: none;
  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

.alert-validate::after {
  content: "\f06a";
  font-family: "Font Awesome 5 Free";
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  font-weight: 900;
}
