/* ----------------HEADER CSS------------------ */

/* TOP HEADER */
#topHeader {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1e1f29;
}

.headerLinks li {
  display: inline-block;
  margin-right: 15px;
  font-size: 12px;
}

.headerLinks li:last-child {
  margin-right: 0;
}

.headerLinks li a {
  color: #fff !important;
}

.headerLinks li a:hover {
  color: #d10024 !important;
}

.headerLinks li i {
  color: #d10024;
  margin-right: 5px;
}

/* HEADER */
#header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #15161d;
}

.headerLogo {
  float: left;
}

.headerLogo .logo img {
  display: block;
}

.headerSearch {
  padding: 15px 0px;
}

.headerSearch form {
  position: relative;
}

.headerSearch form .inputSelect {
  /* margin-right: -4px; */
  border-radius: 40px 0px 0px 40px;
}

.inputSelect {
  padding: 0 10px;
  background: #fff;
  border: 1px solid #e4e7ed;
  height: 40px;
  overflow-y: scroll;
}

.headerSearch form .input {
  width: calc(100% - 300px);
  margin-right: -4px;
}

.headerSearch form .searchBtn {
  height: 40px;
  width: 100px;
  background: #d10024;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 0px 40px 40px 0px;
  line-height: normal !important;
}

.headerCtn {
  float: right;
  padding: 15px 0;
}

.headerCtn > div {
  display: inline-block;
}

.headerCtn > div > a {
  display: block;
  position: relative;
  width: 90px;
  text-align: center;
  color: #fff !important;
}

.headerCtn > div > a > i {
  display: block;
  font-size: 18px;
}

.headerCtn > div > a > span {
  font-size: 12px;
}

.headerCtn > div > a > .qty {
  position: absolute;
  right: 15px;
  top: -10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  background-color: #d10024;
}

.headerCtn > div + div {
  margin-left: 15px;
}

.cartDropdown {
  position: absolute;
  width: 300px;
  background: #fff;
  padding: 15px !important;
  box-shadow: 0 0 0 2px #e4e7ed;
  z-index: 99;
  /* inset: 0px 0px auto 0px !important; */
  right: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  /* transform: translateY(40px) !important; */
}

.cartDropdown .cartList {
  max-height: 180px;
  overflow-y: scroll;
  margin-bottom: 15px;
}

.cartDropdown .cartList .productWidget {
  padding: 0;
  box-shadow: none;
}

.cartDropdown .cartList .productWidget:last-child {
  margin-bottom: 0px;
}

.cartDropdown .cartList .productWidget .productImg {
  left: 0px;
  top: 0px;
}

.cartDropdown .cartList .productWidget .productBody .productPrice {
  color: #2b2d42;
}

.cartDropdown .cartSummary {
  border-top: 1px solid #e4e7ed;
  padding-top: 15px;
  padding-bottom: 15px;
}

.cartDropdown .cartBtns {
  margin: 0px -17px -17px;
}

.cartDropdown .cartBtns > a:first-child {
  /* margin-right: -4px; */
  background-color: #1e1f29;
}

.cartDropdown .cartBtns > a {
  display: inline-block;
  width: calc(50% - 0px);
  padding: 12px;
  background-color: #d10024;
  color: #fff !important;
  text-align: center;
  font-weight: 700;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.cartDropdown .cartBtns > a:hover {
  opacity: 0.9;
}
