/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #333;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
}

a {
  color: #2b2d42 !important;
  font-weight: 500;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
  text-decoration: none !important;
}

a:hover,
a:focus {
  color: #d10024 !important;
  text-decoration: none !important;
  outline: none !important;
}

h2,
h3,
h4,
h5 {
  color: #2b2d42 !important;
  font-weight: 700 !important;
  margin: 0 0 10px;
}

.primary-btn {
  display: inline-block;
  padding: 12px 30px;
  background-color: #d10024;
  border: none;
  border-radius: 40px;
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  transition: 0.2s all;
}

.primary-btn:hover,
.primary-btn:focus {
  opacity: 0.9;
  color: #fff !important;
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-title {
  position: relative;
  margin-bottom: 30px;
  margin-top: 15px;
}

.section-title .title {
  display: inline-block;
  text-transform: uppercase;
  margin: 0px;
  font-size: 24px;
}

.section-title .section-nav {
  float: right;
}

.section-title .section-nav .section-tab-nav {
  display: inline-block;
}

.section-tab-nav li {
  display: inline-block;
  margin-right: 15px;
}

.section-tab-nav li:last-child {
  margin-right: 0;
}

.section-tab-nav li a {
  font-weight: 700 !important;
  color: #8d99ae !important;
  font-size: 14px;
  padding: 0;
  border: none !important;
}

.section-tab-nav li a.active {
  color: #d10024;
}

.section-tab-nav li a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #d10024;
  transition: 0.2s all;
}

.section-tab-nav li a:hover::after,
.section-tab-nav li a:focus::after .section-tab-nav li a.active::after {
  width: 100%;
}

#footer {
  background: #15161d;
  color: #b9babc;
}

.input {
  height: 40px;
  padding: 0px 15px;
  border: 1px solid #e4e7ed;
  background-color: #fff;
  width: 100%;
}

/* product-widget */
.product-widget {
  position: relative;
}

.product-widget + .product-widget {
  margin: 30px 0px;
}

.product-widget .product-img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 60px;
}

.product-widget .product-img > img {
  width: 100%;
}

.product-widget .product-body {
  padding-left: 75px;
  min-height: 60px;
}

.product-widget .product-body .product-name {
  text-transform: uppercase;
  font-size: 12px;
}

.product-widget .product-body .product-name > a {
  font-weight: 700;
}

.product-widget .product-body .product-price {
  font-size: 14px;
  color: #d10024;
}

.product-widget .product-body .product-price .qty {
  font-weight: 400;
  margin-right: 10px;
}

.product-widget .delete {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  text-align: center;
  font-size: 10px;
  padding: 0;
  background: #1e1f29;
  border: none;
  color: #fff;
}

li > a.active {
  color: #d10024 !important;
}

li > a.active::after {
  width: 100% !important;
}

/* slick arrow custom */
.slick-list {
  padding-bottom: 60px !important;
  margin-bottom: -60px !important;
  z-index: 2;
}

.products-slick-nav {
  position: absolute;
  right: 7%;
  z-index: 10;
}

.products-slick-nav .slick-prev,
.products-slick-nav .slick-next {
  position: static;
  transform: none;
  width: 20px;
  height: 20px;
  display: inline-block !important;
  margin: 0px 2px;
}

.slick-prev,
.slick-next {
  border: 1px solid #e4e7ed !important;
  background-color: #fff !important;
  border-radius: 50%;
  z-index: 22;
  transition: 0.2s all;
}

.products-slick-nav .slick-prev::before,
.products-slick-nav .slick-next::before {
  font-size: 14px;
  line-height: 1;
  font-weight: 600;
  color: #2b2d42;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
}

.slick-prev::before {
  content: "\f104" !important;
}

.slick-next::before {
  content: "\f105" !important;
}

.slick-prev:hover,
.slick-next:hover,
.slick-next:focus,
.slick-prev:focus {
  background-color: #d10024 !important;
  border-color: #d10024 !important;
}

.slick-prev:hover::before,
.slick-next:hover::before,
.slick-next:focus::before,
.slick-prev:focus::before {
  color: #fff;
}
